<div class="burger-menu-wrapper">
    <button class="burger-toggle-btn" type="button" id="burger-toggle">
        <img src="/assets/images/logo.png" alt="Menu" class="burger-toggle-img">
    </button>
    
    <nav class="burger-menu" id="burger-menu">
        <ul class="burger-menu-list">
            <li class="burger-menu-item">
                <a href="#" class="burger-menu-link">
                    <i class="mdi mdi-account-group"></i>
                    <span>Trombinoscope</span>
                </a>
            </li>
            <li class="burger-menu-item">
                <a href="#" class="burger-menu-link">
                    <i class="mdi mdi-information"></i>
                    <span>Infos entreprise</span>
                </a>
            </li>
            <li class="burger-menu-item">
                <a href="#" class="burger-menu-link">
                    <i class="mdi mdi-calendar"></i>
                    <span>Congés</span>
                </a>
            </li>
            <li class="burger-menu-item">
                <a href="#" class="burger-menu-link">
                    <i class="mdi mdi-file-document"></i>
                    <span>Documents</span>
                </a>
            </li>
            <li class="burger-menu-item">
                <a href="#" class="burger-menu-link">
                    <i class="mdi mdi-phone"></i>
                    <span>Annuaire</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="burger-overlay" id="burger-overlay"></div>
</div>

<script src="{{ asset('assets/js/burger-menu.js') }}"></script>