<div class="dashboard-widget widget-meteo">
    <div class="widget-header">MÉTÉO</div>
    <div class="widget-content">
        <div class="meteo-display">
            <p>Informations météo à venir...</p>
        </div>
    </div>
</div>