<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex align-items-center">
        <button class="navbar-toggler" type="button">
            <span class="mdi mdi-sort-variant"></span>
        </button>
        
        <div class="navbar-search">
            <form class="search-form" action="#" method="GET">
                <div class="search-input-wrapper">
                    <i class="mdi mdi-magnify search-icon-left"></i>
                    <input type="text" name="q" class="search-input" placeholder="Search now">
                    <button type="submit" class="search-btn">
                        <i class="mdi mdi-magnify"></i>
                    </button>
                </div>
            </form>
        </div>
        
        <div class="navbar-separator"></div>
        
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item">
                <a class="nav-link" href="/" title="Dashboard">
                    <i class="mdi mdi-view-dashboard"></i>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown" title="Clients">
                    <i class="mdi mdi-account-multiple"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Liste clients</a>
                    <a class="dropdown-item" href="#">Nouveau client</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown" title="Qualité">
                    <i class="mdi mdi-star-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Non-conformités</a>
                    <a class="dropdown-item" href="#">Réclamations</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown" title="Production">
                    <i class="mdi mdi-factory"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Ordres de fabrication</a>
                    <a class="dropdown-item" href="#">Planning</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown" title="Commercial">
                    <i class="mdi mdi-briefcase"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Offres</a>
                    <a class="dropdown-item" href="#">Commandes</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown" title="Achats">
                    <i class="mdi mdi-cart"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Demandes d'achat</a>
                    <a class="dropdown-item" href="#">Fournisseurs</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown" title="Outils">
                    <i class="mdi mdi-tools"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Supervision</a>
                    <a class="dropdown-item" href="#">Analyses</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link count-indicator" href="#" data-toggle="dropdown">
                    <i class="mdi mdi-bell-outline"></i>
                    <span class="count count-bg-danger">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list">
                    <h6 class="p-3 mb-0">Notifications</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-warning">
                                <i class="mdi mdi-alert"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <h6 class="preview-subject mb-1">Nouvelle alerte</h6>
                            <p class="text-muted mb-0">Il y a 5 minutes</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-info">
                                <i class="mdi mdi-information"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <h6 class="preview-subject mb-1">Mise à jour système</h6>
                            <p class="text-muted mb-0">Il y a 1 heure</p>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <p class="p-3 mb-0 text-center">
                        <a href="#">Voir toutes les notifications</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>