<nav class="sidebar" id="sidebar">
    <ul class="sidebar-menu">
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="mdi mdi-account-group"></i>
                <span>Trombinoscope</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="mdi mdi-information"></i>
                <span>Infos entreprise</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="mdi mdi-calendar"></i>
                <span>Congés</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="mdi mdi-file-document"></i>
                <span>Documents</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="mdi mdi-phone"></i>
                <span>Annuaire</span>
            </a>
        </li>
    </ul>
</nav>
<div class="sidebar-overlay" id="sidebar-overlay"></div>