{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/meteo.css') }}">
{% endblock %}

{% block body %}
<div class="dashboard-wrapper">
    <div class="dashboard-row">
        <div class="dashboard-widget widget-actualites">
            <div class="widget-header">ACTUALITÉS</div>
            <div class="widget-content">
                <div class="actualites-content">
                    <img src="/assets/images/logo.png" alt="Pronic" class="pronic-logo">
                    <h3>Mémo</h3>
                    <p>Contenu des actualités à venir...</p>
                </div>
            </div>
        </div>

        <div class="dashboard-widget widget-news">
            <div class="widget-header">NEWS</div>
            <div class="widget-content">
                <p>Flux de news à venir...</p>
            </div>
        </div>
    </div>

    <div class="dashboard-row">
        <div class="dashboard-widget widget-air">
            <div class="widget-header">AIR RHÔNE-ALPES</div>
            <div class="widget-content">
                <p class="air-title">Indice de la qualité de l'air à Marignier</p>
                <div class="air-gauge"></div>
            </div>
        </div>
    </div>

    <div class="dashboard-row">
        {% include 'partials/meteo.html.twig' %}
    </div>

    <div class="dashboard-row">
        <div class="dashboard-widget widget-time">
            <div class="widget-header">PRONIC TIME</div>
            <div class="widget-content">
                <div class="time-zones">
                    <div class="time-zone">
                        <img src="/assets/flags/us.png" alt="USA" class="flag-icon">
                        <div class="city">Ann Arbor</div>
                        <div class="time">02:42:58</div>
                    </div>
                    <div class="time-zone">
                        <img src="/assets/flags/fr.png" alt="France" class="flag-icon">
                        <div class="city">Marignier</div>
                        <div class="time">08:42:58</div>
                    </div>
                    <div class="time-zone">
                        <img src="/assets/flags/cn.png" alt="China" class="flag-icon">
                        <div class="city">Shanghai</div>
                        <div class="time">15:42:58</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}